
.about{
    height: 100vh;
    border-bottom: 1px solid grey;
}
.name{
    font-weight: bold;
    font-size: 50px;
}
.linked-in-icon{
    max-width: 3rem;
}



.skills{
    height: 100vh;
    background-color: aqua;
}
.section-set{
    padding-left: 200px;
    padding-top: 3rem;
    /* padding-bottom: 10px; */
}
.section{
    font-size: x-large;
    font-weight: bold;
    /* max-width: 1400px; */
    /* margin-bottom: 10px; */
    /* border-bottom: 1px solid grey; */
}



.projects{
    height: 100vh;
    background-color: brown;
}
.contact{
    height: 100px;
    background-color: green;
}