.top-btn-position{
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.top-btn-style{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
    color: #333;
    cursor: pointer;
}

.top-btn-style:hover{
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
}

/* .section{
    font-size: x-large;
    font-weight: bold;
}
.section-set{
    padding-left: 200px;
    padding-top: 3rem;
} */