.skills{
    height: 100vh;
    /* background-color: aqua; */
}
.section{
    font-weight: bold;
    font-size: 28px;
    color: rgb(26, 27, 31);
    padding-top: 2rem;
    padding-left: 3rem;
    max-width: 900px;
}

.testing{

}
.skills-list{
    display: flex;
}
.format{
    height: 128px;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* mix-blend-mode: color-burn; */
}
ul {  
    list-style-type: none;  
    }  